{% extends 'base.html' %}

{% block body %}
    <style>

        body {
            max-width: 100%;
            overflow-x: hidden;
        }
        .section-end {
            margin: -4vw 0px -4vw 0px;
            width: 100%;
            height: 8vw;
            transform: rotate(-4deg) scale(1.1, 1);
        }

        .about-end {
            background-color: white;
        }

        .project-start {
            background-color: rgb(7, 7, 121);
        }

        #description {
            width: 60%;
            margin: auto;
            display: flex;
            gap: 20px;
        }

        #description>div {
            flex-direction: row;
            z-index: 2;
        }

        .rounded {
            border-radius: 50%;
        }

        .centered {
            text-align: center;
        }

        div.centered {
            margin: auto;
            display: inline;
            text-align: center;
        }

        .transparent {
            background-color: rgb(255, 255, 255, 0);
        }

        a {
            color: rgba(0, 0, 255, 1);
            text-decoration: underline 0.1em rgba(255, 255, 255, 0);
            transition: text-decoration-color 1s;
        }

        a:hover {
            text-decoration-color: rgba(0, 0, 255, 1);
        }

        #description>div>img {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;        
        }

        #avatar {
            display: block;
            margin: auto;
        }

        .top-margin-100 {
            margin-top: 100px;
        }

        .top-margin-75 {
            margin-top: 75px;
        }

        .top-margin-50 {
            margin-top: 50px;
        }

        .title {
            font-size: 40px;
        }

        .project:nth-child(2n) {
            display: flex;
            flex-direction: row;
        }

        .project:nth-child(2n+1) {
            display: flex;
            flex-direction: row-reverse;
        }

        #project-section {
            background-color: rgb(7, 7, 121); 
            width: 100%;
            color: white;
        }

        .projects {
            width: 60%;
            margin: auto;
        }

        .git {
            width: 30px;
            transition: 0.5s;
        }

        .git:hover {
            filter: contrast(0%);
            transition: 0.5s;
        }

        .img {
            width: 100%;
            -webkit-box-shadow: 0 0 20px #000;
            box-shadow: 0 0 20px #000;   
            border-radius: 14px;  
        }

        .proj-img {
            width: 100%;
        }

        .proj-description {
            position: relative;
            z-index: 10;
            margin-block: auto;
            -webkit-box-shadow: 0 0 20px #000;
            box-shadow: 0 0 20px #000;
            padding: 40px;
            border-radius: 15px;
            height: min-content;
            background-color: rgb(40, 40, 120); 
            width: 100%;
            margin-block: auto;
        }

        .left {
            transform: translateX(-25%);
        }

        .right {
            transform: translateX(25%);
        }

        .none {
            text-decoration: none;
        }

        .project-title {
            color: white;
            text-decoration: none;
            transition: 1s;
        }

        .project-title:hover {
            color: rgb(200, 255, 200);
            transition: 1s;
        }

        .date {
            color: rgb(200, 255, 200);
        }

        .technologie {
            color: rgb(200, 255, 200);
            transition: 0.7s;
        }

        .technologie:hover {
            color: rgb(100, 255, 100);
            transition: 0.7s;
        }

        .align:nth-child(2n+1) {
            text-align: right;
        }

        .align:nth-child(2n) {
            text-align: left;
        }

        .card-parent {
            height: min-content; 
            background-size: cover; 
            border-radius: 13px;
            margin-bottom: 10px;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
            transition: 0.4s;
        }

        .card-parent:hover {
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 1);
            transition: 0.4s;
        }

        .card-child {
            width: 100%; 
            height: 100%; 
            background-color: rgba(0, 0, 0, 0.5); 
            border-radius: 13px;
        }

        .card-text {
            font-size: 20px;
            line-height: 1.5;
        }

        @media screen and (max-width: 1600px) {
            .projects {
                width: 75%;
            }
        }

        @media screen and (max-width: 1400px) {
            #description {
                width: 80%;
            }

            .projects {
                width: 90%;
            }
        }

        @media screen and (max-width: 800px) {
            #description {
                flex-direction: column;
            }
        }

        @media screen and (max-width: 900px) {
            .not-mobile {
                display: none;
                overflow: hidden;
            }
        }

        @media screen and (min-width: 900px) {
            .mobile {
                display: none;
                overflow: hidden;
            }
        }

    </style>
    <h1 class="centered title top-margin-100">Who Am I ?</h1>
    <section id="description">
        <div class="centered">
            <span>
                Hi! My name is Nicolas Facon and I develop games, websites and application on my free time.
            I like learn with programming about IT and about the things I work with. It's a sort of challenge for me.<br/><br/>

            In 2021, I entered in Lens University Institute of Technology, french university in IT, to learn more about software and web development. I am currently on the second year of my studies. I discovered a lot of technologies and languages and I also put my knowledge into practice in various <a href="#projects">projects</a>.
            </span>
        </div>
        <div><img class="rounded" id="avatar" src="{{ url_for('static', filename='assets/images/avatar.png') }}"></div>
    </section>
    <div class="section-end about-end top-margin-50"></div>
    <section id="project-section">
        <div class="section-end project-start"></div>
        <h1 class="centered title transparent top-margin-100" id="projects">Some of my projects</h1>
        <div class="projects">
            {% for project in projects %}

            <!-- on va attaquer la responsive, ici c'est le mode PC -->
            <div class="align not-mobile">
                <p class="date">{{project['creation_date'].split('-')[0]}} • {{project['location']}} Project</p>
                <a class="project-title" target="_blank" href="{{ project['github'] }}"><h1>{{ project["name"] }} </h1></a>
            </div><br class="not-mobile"/>
                <div class="project not-mobile">
                    <div class="proj-img not-mobile">
                        <a><img class="img not-mobile" src="{{ project['media_url'] }}"></a>
                    </div>
                    <div class="proj-description not-mobile {% if projects.index(project) % 2 != 0 %} left {% else %} right {% endif%}">
                        {{ project['description'] }}
                    </div>                
                </div><br class="not-mobile"/>
                <div class="align not-mobile">
                    <span>
                        {% for lib in libs %}
                            {% if lib[0] == project['id'] %}
                                {% for i in lib[1] %}
                                <span class="technologie">
                                    {{i}} &nbsp;
                                </span>
                                {% endfor %}
                            {% endif %}
                    {% endfor %}
                    </span><br class="not-mobile"/><br class="not-mobile"/>
                    <a href="{{ project['github'] }}" target="_blank"><img class="git" src="https://icones.pro/wp-content/uploads/2021/06/symbole-github-violet.png"></a>
                </div>

            <!-- ici la partie mobile -->
            {% endfor %}

            {% for project in projects %}
                    <div style="background-image: url({{project['media_url']}})" class="card-parent mobile">
                        <div class="mobile card-child" >
                            <div style="margin-inline: 1em">
                                <p style="padding-top: 50px" class="date">{{project['creation_date'].split('-')[0]}} • {{project['location']}} Project</p>
                                <a class="project-title" target="_blank" href="{{ project['github'] }}"><h1>{{ project["name"] }} </h1></a>                            
                                <p class="card-text">{{project['description']}}</p>
                                <span>
                                    {% for lib in libs %}
                                        {% if lib[0] == project['id'] %}
                                            {% for i in lib[1] %}
                                            <span class="technologie">
                                                {{i}} &nbsp;
                                            </span>
                                            {% endfor %}
                                        {% endif %}
                                {% endfor %}
                                </span><br class="mobile"/><br class="mobile"/>
                                <a href="{{ project['github'] }}" target="_blank"><img class="git" src="https://icones.pro/wp-content/uploads/2021/06/symbole-github-violet.png"></a>
                                <br class="mobile"/><br class="mobile"/>
                            </div>
                        </div> 
                    </div>
            {% endfor %}
        </div>
    </section>
    </div>
{% endblock %}